<div class="bg-div" style="background-image: url(assets/images/p5.jpg)"></div>

  <div class="bg-middle">
    <p style="color:black;font-size: 30px; font-family: 'georgia';font-weight: bold;margin-top: 30px; ">Welcome to Pension <br> <br>Management <br> <br>System!!<br><br> </p>
    <br>
    <br>
    <a *ngIf="!loggedIn" routerLink="/login" mat-raised-button color="accent">Login here</a>
  </div>
  <mat-toolbar color="primary">
    <footer style=margin-left:5%;><p>©copyright 2022</p></footer>
    
    <footer style=margin-left:20%;>Support Related Queries: helpdesk@gmail.com</footer>
  </mat-toolbar>
  